<div>
    <h1>Productos Agregados</h1>

    <table id="allProductsAdded">
        <tr>
            <th>Order</th>
            <th>Name</th>            
        </tr>
        
    </table>
    

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js"></script>

